* {
    box-sizing: border-box;
}
/*Typography*/
h1{font-size: 5em;}

h2{font-size: 3.5em;}

.danger{color:#f33;	font-weight: bold;}

.success{color:#2a2;}

.white{color:#fff;}

.bg-danger{
	background-color:#f33;
}

.bg-success{
	background-color: #2a2;
}

.bg-primary{
	background-color: #28e;
}


/*Grid system*/
.row{
	clear: both;
    max-width: 1240px;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class^="col-"]{
	/*width: 100%;*/
	float: left;
    padding: 15px;
    border: 1px solid red;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-tb-1 {width: 8.33%;}
	.col-tb-2 {width: 16.66%;}
	.col-tb-3 {width: 25%;}
	.col-tb-4 {width: 33.33%;}
	.col-tb-5 {width: 41.66%;}
	.col-tb-6 {width: 50%;}
	.col-tb-7 {width: 58.33%;}
	.col-tb-8 {width: 66.66%;}
	.col-tb-9 {width: 75%;}
	.col-tb-10 {width: 83.33%;}
	.col-tb-11 {width: 91.66%;}
	.col-tb-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
